{% extends 'base.html' %}

{% block title %}Добавление блога{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="text-center mb-4">Добавление блога</h1>
      <form action="" method="post" class="my-4">
        {% csrf_token %}
          <div class="form-error">{{ form.non_field_errors }}</div>
          {% for f in form %}
              <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
              <div class="form-error">{{ f.errors }}</div>
          {% endfor %}
          <button type="submit" class="btn btn-primary" >Добавить</button>
      </form>
    </div>
  </div>
{% endblock %}
